@import url('https://fonts.googleapis.com/css?family=Montserrat|Ubuntu|Anton');

body{
    font-family: "Montserrat";
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-Bold";
}

p{
    color: #8f8f8f;
}

.big-heading{
    padding-top: 15%;
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-break: 1.5;
}
.container-fluid{
    padding: 7% 15%;
}

.colored-section{
    color: #fff;
    background-color: #ff4c68;
}
.white-section{
    background-color:#fff;
}

/* Navigation Bar */

.navbar{
    padding-bottom: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}


/* Title Section */

#title .container-fluid{
    text-align: left;
    padding: 3% 15% 7%;
}


/* Dowload Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}


/* Tittle Image */

.title-image{
    padding-top: 80px;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}


/* Feature of the Site */

#features{
    position: relative;
}
.feature-title{
    font-size: 1.5rem;
}
.feature-box{

    padding: 5%;
}
.icons{
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon-check:hover{
    color: green;
}
.icon-bullseye:hover{
    color:red;
}
.icon-heart:hover{
    color: #ff4c68;
}


/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
}

#press{
    background-color: #ef8172;

    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
#pricing{
    padding: 100px;
}
.pricing-column{

    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer Section */

.social-icon{
    margin: 20px 10px;
}
.social-icon:hover{
    color: #ff4c68;
}


/* Media Query */

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        padding-top: 80px;
        width: 60%;
        transform: rotate(0);
        position: static;
    }
}